.calva
.lsp
.cpcache
.clj-kondo/.cache
.clj-kondo/marick
.vscode
dev/*
!dev/docker-compose.yml
target
target/public/*
!target/public/index.html
node_modules
classes
.DS_Store
.secrets.edn
.nrepl-port
resources/config.edn