;; Default dev config, should be overwritten using env vars or similar in prod
{:secrets #include #or [#env AJANOTTAJA_SECRETS_FILE ".secrets.edn"]
 :env :dev
 :db {:host #or [#env AJANOTTAJA_DB_HOST "localhost"]
      :port #or [#env AJANOTTAJA_DB_PORT "5432"]
      :name #or [#env AJANOTTAJA_DB_NAME "ajanottaja"]
      :user #or [#env AJANOTTAJA_DB_USER "ajanottaja"]
      :password  #ref [:secrets :db :password]}
 :server {:ip #or [#env AJANOTTAJA_SERVER_IP "127.0.0.1"]
          :port #or [#env AJANOTTAJA_SERVER_PORT 3000]
          :cors-config {:allowed-request-methods [:post :get]
                        :allowed-request-headers ["Authorization" "Content-Type"]
                        :origins ["http://localhost:3000"
                                  "http://localhost:9500"
                                  "https://dev-ajanottaja.snorre.io"
                                  "https://ajanottaja.snorre.io"]
                        :max-age 300}
          :api-token #ref [:secrets :server :api-token]
          :jwks-url "https://ajanottaja.eu.auth0.com/.well-known/jwks.json"}}